.font{
	background:url("../-images/fumé.jpg");
	}


body{
    font-family: Night Still Comes ;
    background-color:rgb(243, 242, 233)
}
 
h2
    {font-weight: 100;
    background-color:rgba(57, 57, 57);
    color:White;
    font-family: Augustus;
    font-size: 30px;}
 
p{
    text-justify:     ;
}
img {
	width: 400px;
Fin de la discussion
Écrivez un message...

